.elementor-10 .elementor-element.elementor-element-2370129 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 25px;
    --padding-bottom: 25px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 999;
}

.elementor-10 .elementor-element.elementor-element-2370129:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-2370129>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-b8bb785);
}

.elementor-10 .elementor-element.elementor-element-2134de0 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-2134de0 .elementor-heading-title {
    font-family: "Polin", Sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: var( --e-global-color-primary);
}

.elementor-10 .elementor-element.elementor-element-d1e1098 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 25px;
    --padding-bottom: 25px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 999;
}

.elementor-10 .elementor-element.elementor-element-d1e1098:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-d1e1098>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-primary);
}

.elementor-10 .elementor-element.elementor-element-6e04648 {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-6e04648 .elementor-heading-title {
    font-family: "Polin", Sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-39a01ff {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 999;
}

.elementor-10 .elementor-element.elementor-element-39a01ff:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-39a01ff>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-1d2d7cf);
}

.elementor-10 .elementor-element.elementor-element-ecaba79 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
}

.elementor-10 .elementor-element.elementor-element-cd3994d {
    width: var( --container-widget-width, 12%);
    max-width: 12%;
    --container-widget-width: 12%;
    --container-widget-flex-grow: 0;
}

.elementor-10 .elementor-element.elementor-element-cd3994d>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-cd3994d img {
    width: 100%;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu .elementor-item {
    font-family: "Polin", Sans-serif;
    font-size: 18px;
    font-weight: 100;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main .elementor-item {
    color: #FFFFFF;
    fill: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main .elementor-item:hover,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main .elementor-item:focus {
    color: #053137;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .e--pointer-framed .elementor-item:before,
.elementor-10 .elementor-element.elementor-element-ab3b912 .e--pointer-framed .elementor-item:after {
    border-color: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #053137;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-10 .elementor-element.elementor-element-ab3b912 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 5px / 2);
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 5px;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-item:before {
    border-radius: 26px;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .e--animation-shutter-in-horizontal .elementor-item:before {
    border-radius: 26px 26px 0 0;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .e--animation-shutter-in-horizontal .elementor-item:after {
    border-radius: 0 0 26px 26px;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .e--animation-shutter-in-vertical .elementor-item:before {
    border-radius: 0 26px 26px 0;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .e--animation-shutter-in-vertical .elementor-item:after {
    border-radius: 26px 0 0 26px;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown a,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-menu-toggle {
    color: var( --e-global-color-primary);
    fill: var( --e-global-color-primary);
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown a:hover,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown a:focus,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown a.highlighted,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-menu-toggle:hover,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-menu-toggle:focus {
    color: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown a:hover,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown a:focus,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown a.highlighted {
    background-color: var( --e-global-color-1d2d7cf);
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: #d3b574;
    background-color: rgba(0, 0, 0, 0);
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown .elementor-item,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-family: "Polin", Sans-serif;
    font-size: 16px;
    font-weight: 100;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown {
    border-radius: 7px 7px 7px 7px;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 15px !important;
}

.elementor-10 .elementor-element.elementor-element-ab3b912 div.elementor-menu-toggle {
    color: var( --e-global-color-text);
}

.elementor-10 .elementor-element.elementor-element-ab3b912 div.elementor-menu-toggle svg {
    fill: var( --e-global-color-text);
}

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-menu-toggle {
    background-color: #ffffff;
}

.elementor-10 .elementor-element.elementor-element-038e35b {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
}

.elementor-10 .elementor-element.elementor-element-606abca .elementor-icon-wrapper {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-606abca .elementor-icon {
    font-size: 32px;
}

.elementor-10 .elementor-element.elementor-element-606abca .elementor-icon svg {
    height: 32px;
}

.elementor-10 .elementor-element.elementor-element-eae1f1c {
    width: auto;
    max-width: auto;
    --side-cart-alignment-transform: translateX(-100%);
    --side-cart-alignment-right: auto;
    --side-cart-alignment-left: 0;
    --divider-style: solid;
    --subtotal-divider-style: solid;
    --elementor-remove-from-cart-button: none;
    --remove-from-cart-button: block;
    --toggle-button-border-width: 0px;
    --toggle-icon-size: 25px;
    --toggle-icon-padding: 0px 0px 0px 0px;
    --items-indicator-text-color: #000000;
    --items-indicator-background-color: #FFFFFF;
    --cart-border-style: none;
    --cart-border-radius: 7px 7px 7px 7px;
    --cart-close-button-color: var( --e-global-color-accent);
    --product-price-color: #7B7B7B;
    --divider-color: #DDDDDD;
    --subtotal-divider-color: #DDDDDD;
    --divider-width: 1px;
    --subtotal-divider-top-width: 1px;
    --subtotal-divider-right-width: 1px;
    --subtotal-divider-bottom-width: 1px;
    --subtotal-divider-left-width: 1px;
    --cart-footer-layout: 1fr 1fr;
    --products-max-height-sidecart: calc(100vh - 240px);
    --products-max-height-minicart: calc(100vh - 385px);
    --view-cart-button-text-color: var( --e-global-color-primary);
    --view-cart-button-background-color: var( --e-global-color-b8bb785);
    --view-cart-button-hover-text-color: var( --e-global-color-primary);
    --view-cart-button-hover-background-color: #D8D8D5;
    --view-cart-button-padding: 15px 15px 15px 15px;
    --checkout-button-background-color: var( --e-global-color-accent);
    --checkout-button-hover-background-color: var( --e-global-color-text);
    --checkout-button-padding: 23px 23px 23px 23px;
}

body:not(.rtl) .elementor-10 .elementor-element.elementor-element-eae1f1c .elementor-menu-cart__toggle .elementor-button-icon .elementor-button-icon-qty[data-counter] {
    right: -15px;
    top: -15px;
}

body.rtl .elementor-10 .elementor-element.elementor-element-eae1f1c .elementor-menu-cart__toggle .elementor-button-icon .elementor-button-icon-qty[data-counter] {
    right: 15px;
    top: -15px;
    left: auto;
}

.elementor-10 .elementor-element.elementor-element-eae1f1c .elementor-menu-cart__subtotal {
    font-family: "Polin", Sans-serif;
    font-size: 23px;
}

.elementor-10 .elementor-element.elementor-element-eae1f1c .widget_shopping_cart_content {
    --subtotal-divider-left-width: 0;
    --subtotal-divider-right-width: 0;
}

.elementor-10 .elementor-element.elementor-element-eae1f1c .elementor-menu-cart__product-name a {
    font-family: "Polin", Sans-serif;
    font-size: 15px;
    color: #000000;
}

.elementor-10 .elementor-element.elementor-element-eae1f1c .elementor-menu-cart__product-price .product-quantity {
    color: #7B7B7B;
    font-family: "Polin", Sans-serif;
}

.elementor-10 .elementor-element.elementor-element-eae1f1c .elementor-menu-cart__footer-buttons .elementor-button {
    font-family: "Polin", Sans-serif;
}

.elementor-10 .elementor-element.elementor-element-eae1f1c .elementor-menu-cart__footer-buttons a.elementor-button--view-cart {
    font-family: "Polin", Sans-serif;
    border-radius: 7px 7px 7px 7px;
}

.elementor-10 .elementor-element.elementor-element-eae1f1c .elementor-button--view-cart {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-10 .elementor-element.elementor-element-eae1f1c .elementor-menu-cart__footer-buttons a.elementor-button--checkout {
    border-radius: 7px 7px 7px 7px;
}

.elementor-10 .elementor-element.elementor-element-eae1f1c .elementor-button--checkout {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-10 .elementor-element.elementor-element-eae1f1c .woocommerce-mini-cart__empty-message {
    font-family: "Polin", Sans-serif;
    font-size: 20px;
}

.elementor-10 .elementor-element.elementor-element-dee22e0 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-dee22e0 .elementor-icon {
    font-size: 32px;
}

.elementor-10 .elementor-element.elementor-element-dee22e0 .elementor-icon svg {
    height: 32px;
}

.elementor-10 .elementor-element.elementor-element-34dea8f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    --z-index: 999;
}

.elementor-10 .elementor-element.elementor-element-34dea8f:not(.elementor-motion-effects-element-type-background),
.elementor-10 .elementor-element.elementor-element-34dea8f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-1d2d7cf);
}

.elementor-10 .elementor-element.elementor-element-7075cdc {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-10 .elementor-element.elementor-element-3ad2747 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-3ad2747.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
    color: var( --e-global-color-primary);
}

.elementor-10 .elementor-element.elementor-element-3ad2747.elementor-view-framed .elementor-icon,
.elementor-10 .elementor-element.elementor-element-3ad2747.elementor-view-default .elementor-icon {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-3ad2747.elementor-view-framed .elementor-icon,
.elementor-10 .elementor-element.elementor-element-3ad2747.elementor-view-default .elementor-icon svg {
    fill: #FFFFFF;
}

.elementor-10 .elementor-element.elementor-element-3ad2747.elementor-view-framed .elementor-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-10 .elementor-element.elementor-element-3ad2747.elementor-view-stacked .elementor-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-10 .elementor-element.elementor-element-3ad2747 .elementor-icon {
    padding: 10px;
}

.elementor-10 .elementor-element.elementor-element-9d81f72 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-10 .elementor-element.elementor-element-90364de>.elementor-widget-container {
    margin: 0px -48px 0px 0px;
}

.elementor-10 .elementor-element.elementor-element-90364de img {
    width: 100%;
}

.elementor-10 .elementor-element.elementor-element-8c81cdf {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-10 .elementor-element.elementor-element-ec262fe .elementor-icon-wrapper {
    text-align: center;
}

.elementor-10 .elementor-element.elementor-element-ec262fe .elementor-icon {
    font-size: 32px;
}

.elementor-10 .elementor-element.elementor-element-ec262fe .elementor-icon svg {
    height: 32px;
}

.elementor-10 .elementor-element.elementor-element-d8160da {
    width: auto;
    max-width: auto;
    --side-cart-alignment-transform: translateX(-100%);
    --side-cart-alignment-right: auto;
    --side-cart-alignment-left: 0;
    --divider-style: solid;
    --subtotal-divider-style: solid;
    --elementor-remove-from-cart-button: none;
    --remove-from-cart-button: block;
    --toggle-button-border-width: 0px;
    --toggle-icon-size: 25px;
    --toggle-icon-padding: 0px 0px 0px 0px;
    --items-indicator-text-color: #000000;
    --items-indicator-background-color: #FDFDFD;
    --cart-border-style: none;
    --cart-border-radius: 7px 7px 7px 7px;
    --cart-close-button-color: var( --e-global-color-accent);
    --product-price-color: #7B7B7B;
    --divider-color: #DDDDDD;
    --subtotal-divider-color: #DDDDDD;
    --divider-width: 1px;
    --subtotal-divider-top-width: 1px;
    --subtotal-divider-right-width: 1px;
    --subtotal-divider-bottom-width: 1px;
    --subtotal-divider-left-width: 1px;
    --cart-footer-layout: 1fr 1fr;
    --products-max-height-sidecart: calc(100vh - 240px);
    --products-max-height-minicart: calc(100vh - 385px);
    --view-cart-button-text-color: var( --e-global-color-primary);
    --view-cart-button-background-color: var( --e-global-color-b8bb785);
    --view-cart-button-hover-text-color: var( --e-global-color-primary);
    --view-cart-button-hover-background-color: #D8D8D5;
    --view-cart-button-padding: 15px 15px 15px 15px;
    --checkout-button-background-color: var( --e-global-color-accent);
    --checkout-button-hover-background-color: var( --e-global-color-text);
    --checkout-button-padding: 23px 23px 23px 23px;
}

body:not(.rtl) .elementor-10 .elementor-element.elementor-element-d8160da .elementor-menu-cart__toggle .elementor-button-icon .elementor-button-icon-qty[data-counter] {
    right: -4px;
    top: -4px;
}

body.rtl .elementor-10 .elementor-element.elementor-element-d8160da .elementor-menu-cart__toggle .elementor-button-icon .elementor-button-icon-qty[data-counter] {
    right: 4px;
    top: -4px;
    left: auto;
}

.elementor-10 .elementor-element.elementor-element-d8160da .elementor-menu-cart__subtotal {
    font-family: "Polin", Sans-serif;
    font-size: 23px;
}

.elementor-10 .elementor-element.elementor-element-d8160da .widget_shopping_cart_content {
    --subtotal-divider-left-width: 0;
    --subtotal-divider-right-width: 0;
}

.elementor-10 .elementor-element.elementor-element-d8160da .elementor-menu-cart__product-name a {
    font-family: "Polin", Sans-serif;
    font-size: 15px;
    color: #000000;
}

.elementor-10 .elementor-element.elementor-element-d8160da .elementor-menu-cart__product-price .product-quantity {
    color: #7B7B7B;
    font-family: "Polin", Sans-serif;
}

.elementor-10 .elementor-element.elementor-element-d8160da .elementor-menu-cart__footer-buttons .elementor-button {
    font-family: "Polin", Sans-serif;
}

.elementor-10 .elementor-element.elementor-element-d8160da .elementor-menu-cart__footer-buttons a.elementor-button--view-cart {
    font-family: "Polin", Sans-serif;
    border-radius: 7px 7px 7px 7px;
}

.elementor-10 .elementor-element.elementor-element-d8160da .elementor-button--view-cart {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-10 .elementor-element.elementor-element-d8160da .elementor-menu-cart__footer-buttons a.elementor-button--checkout {
    border-radius: 7px 7px 7px 7px;
}

.elementor-10 .elementor-element.elementor-element-d8160da .elementor-button--checkout {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.elementor-10 .elementor-element.elementor-element-d8160da .woocommerce-mini-cart__empty-message {
    font-family: "Polin", Sans-serif;
}

.elementor-theme-builder-content-area {
    height: 400px;
}

.elementor-location-header:before,
.elementor-location-footer:before {
    content: "";
    display: table;
    clear: both;
}

@media(max-width:1024px) {
    .elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 20px !important;
    }
}

@media(max-width:767px) {
    .elementor-10 .elementor-element.elementor-element-2370129 {
        --padding-top: 15px;
        --padding-bottom: 15px;
        --padding-left: 15px;
        --padding-right: 15px;
    }
    .elementor-10 .elementor-element.elementor-element-2134de0 .elementor-heading-title {
        font-size: 11px;
        line-height: 1.7em;
    }
    .elementor-10 .elementor-element.elementor-element-d1e1098 {
        --padding-top: 25px;
        --padding-bottom: 25px;
        --padding-left: 15px;
        --padding-right: 15px;
    }
    .elementor-10 .elementor-element.elementor-element-6e04648 .elementor-heading-title {
        font-size: 12px;
        line-height: 1.7em;
    }
    .elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--dropdown a {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu--main>.elementor-nav-menu>li>.elementor-nav-menu--dropdown,
    .elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
        margin-top: 20px !important;
    }
    .elementor-10 .elementor-element.elementor-element-34dea8f {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 8px;
        --padding-right: 8px;
    }
    .elementor-10 .elementor-element.elementor-element-7075cdc {
        --width: 25%;
        --flex-direction: row;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --align-items: center;
    }
    .elementor-10 .elementor-element.elementor-element-3ad2747 .elementor-icon {
        font-size: 18px;
        border-radius: 5px 5px 5px 5px;
    }
    .elementor-10 .elementor-element.elementor-element-3ad2747 .elementor-icon svg {
        height: 18px;
    }
    .elementor-10 .elementor-element.elementor-element-9d81f72 {
        --width: 50%;
    }
    .elementor-10 .elementor-element.elementor-element-90364de>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-8c81cdf {
        --width: 25%;
        --flex-direction: row;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --justify-content: flex-end;
        --align-items: center;
        --gap: 10px 10px;
        --row-gap: 10px;
        --column-gap: 10px;
    }
    .elementor-10 .elementor-element.elementor-element-ec262fe>.elementor-widget-container {
        margin: -1px 0px 0px 0px;
    }
    .elementor-10 .elementor-element.elementor-element-ec262fe .elementor-icon {
        font-size: 25px;
    }
    .elementor-10 .elementor-element.elementor-element-ec262fe .elementor-icon svg {
        height: 25px;
    }
    .elementor-10 .elementor-element.elementor-element-d8160da {
        --toggle-icon-size: 22px;
    }
    body:not(.rtl) .elementor-10 .elementor-element.elementor-element-d8160da .elementor-menu-cart__toggle .elementor-button-icon .elementor-button-icon-qty[data-counter] {
        right: -11px;
        top: -11px;
    }
    body.rtl .elementor-10 .elementor-element.elementor-element-d8160da .elementor-menu-cart__toggle .elementor-button-icon .elementor-button-icon-qty[data-counter] {
        right: 11px;
        top: -11px;
        left: auto;
    }
    .elementor-10 .elementor-element.elementor-element-d8160da .woocommerce-mini-cart__empty-message {
        font-size: 18px;
    }
}

@media(min-width:768px) {
    .elementor-10 .elementor-element.elementor-element-39a01ff {
        --content-width: 85%;
    }
    .elementor-10 .elementor-element.elementor-element-ecaba79 {
        --width: 85%;
    }
    .elementor-10 .elementor-element.elementor-element-038e35b {
        --width: 15%;
    }
    .elementor-10 .elementor-element.elementor-element-34dea8f {
        --content-width: 85%;
    }
    .elementor-10 .elementor-element.elementor-element-7075cdc {
        --width: 25%;
    }
    .elementor-10 .elementor-element.elementor-element-9d81f72 {
        --width: 50%;
    }
    .elementor-10 .elementor-element.elementor-element-8c81cdf {
        --width: 25%;
    }
}

/* Start custom CSS for nav-menu, class: .elementor-element-ab3b912 */

.elementor-10 .elementor-element.elementor-element-ab3b912 .elementor-item.elementor-item-active {
    font-weight: bold;
}

/* End custom CSS */

/* Start custom CSS for woocommerce-menu-cart, class: .elementor-element-eae1f1c */

body.rtl .elementor-946 .elementor-element.elementor-element-9afe878 .elementor-menu-cart__toggle .elementor-button-icon[data-counter]::before {
    right: 16px;
    top: 8px;
    left: auto;
}

.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    border-radius: 14px;
    background-color: #E9E9E9;
    padding: 05px;
}

/* End custom CSS */

/* Start custom CSS for woocommerce-menu-cart, class: .elementor-element-d8160da */

body.rtl .elementor-946 .elementor-element.elementor-element-9afe878 .elementor-menu-cart__toggle .elementor-button-icon[data-counter]::before {
    right: 16px;
    top: 8px;
    left: auto;
}

.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    border-radius: 14px;
    background-color: #E9E9E9;
    padding: 05px;
}

/* End custom CSS */

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'Polin';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('https://rafena.com/wp-content/uploads/2024/11/Polin-Regular.woff2') format('woff2'), url('https://rafena.com/wp-content/uploads/2024/11/Polin-Regular-1.woff') format('woff');
}

@font-face {
    font-family: 'Polin';
    font-style: normal;
    font-weight: bold;
    font-display: auto;
    src: url('https://rafena.com/wp-content/uploads/2024/11/Polin-Bold.woff2') format('woff2'), url('https://rafena.com/wp-content/uploads/2024/11/Polin-Bold.woff') format('woff');
}

/* End Custom Fonts CSS */